# yaml-language-server: $schema=https://www.schemastore.org/prometheus.json
# Docs: https://prometheus.io/docs/prometheus/latest/configuration/configuration/

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: otel-collector
    nomad_sd_configs:
      - server: "http://{{ env "attr.unique.network.ip-address" }}:4646"
    relabel_configs:
      - source_labels: ["__meta_nomad_service"]
        regex: otlp-collector
        action: keep
      - source_labels: ["__meta_nomad_tags"]
        regex: .*prometheus.*
        action: keep
  - job_name: prometheus
    static_configs:
      - targets: ["{{ env "NOMAD_ADDR_http"}}"]
  - job_name: nomad
    metrics_path: /v1/metrics
    params:
      format: ['prometheus']
    static_configs:
      - targets: ['{{ env "attr.unique.network.ip-address" }}:4646']

storage:
  tsdb:
    out_of_order_time_window: 30m

otlp:
  translation_strategy: UnderscoreEscapingWithSuffixes
  promote_resource_attributes:
    - service.instance.id
    - service.name
    - service.namespace
    - service.version
    - cloud.availability_zone
    - cloud.region
    - container.name
    - deployment.environment
    - deployment.environment.name
    - k8s.cluster.name
    - k8s.container.name
    - k8s.cronjob.name
    - k8s.daemonset.name
    - k8s.deployment.name
    - k8s.job.name
    - k8s.namespace.name
    - k8s.pod.name
    - k8s.replicaset.name
    - k8s.statefulset.name
