# yaml-language-server: $schema=https://www.schemastore.org/traefik-v2.json

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443

api:
  dashboard: true
  insecure: true

providers:
  nomad:
    exposedByDefault: false
    endpoint:
      token: {{ env "NOMAD_TOKEN" }}

